#access {
    margin-top: -20px;
}

#access,
#about {
    text-align: center;
    h4 {
        font-size: 1.87em;
        margin: 30px auto;
    }
    p {
        font-size: 1.14em;
        margin: 0 0 30px 0;
    }
}

iframe {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iframe-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    margin: 0 20px;
}