#access {
    margin-top: -20px;
    padding-bottom: 30px;
    text-align: center;
}

#about {
    @media screen and (min-width: 769px) {
        margin-top: 220px;
    }
}

#access,
#about {
    h4 {
        font-size: 1.87em;
        margin: 30px auto;
    }
    p {
        font-size: 1.14em;
        margin: 0 0 30px 0;
    }
}

iframe {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media screen and (min-width: 769px) {
        width: 550px;
        height: 305px;
        z-index: 100;
        overflow: visible;
    }
}

#video {
    @media screen and (min-width: 769px) {
        position: relative;
        x-index: 0;
        height: 150px;
        width: 100%;
    }
}

.iframe-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    margin: 0 20px;
    @media screen and (min-width: 769px) {
        width: 550px;
        height: 305px;
        padding-bottom: 0;
        margin: 0 auto;
        z-index: 100;
    }
}

.hands-svg {
    position: relative;
    margin-top: 30px;
    @media screen and (max-width: 768px) {
        margin-top: 260px;
    }
    img {
        position: absolute;
        transform: translate(-50%, 0);
        bottom: -1px;
        left: 50%;
    }
}