body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Futura PT', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
}

img {
    border: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.container {
    .row {
        margin: 0 -15px 0 0;
    }
}

.section-blue {
    background-color: $color-main;
    color: #fff;
}

.section-light {
    background-color: $color-light;
    color: $color-neutral;
}

.section-white {
    background-color: #fff;
    color: $color-neutral;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}