#challenge {
    h4 {
        font-size: 1.5em;
        text-align: center;
    }
    .btn-blue {
        display: block;
        margin: 0 auto 15px;
        width: 215px;
        height: 50px;
        background-color: $color-main;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 10px;
        font-size: 1.2em;
        text-align: center;
        line-height: 50px;
    }
    .btn-white {
        @extend .btn-blue;
        background-color: #fff;
        border: 3px solid $color-main;
        color: $color-main;
        text-transform: lowercase;
        line-height: 45px;
    }
    .btn-last {
        margin-bottom: 40px;
    }
    .btn-grey {
        @extend .btn-blue;
        width: 167px;
        line-height: 42px;
        background-color: #fff;
        text-transform: lowercase;
        border: 2px solid $color-neutral;
        color: $color-neutral;
        margin: 30px 0;
    }
    h6 {
        font-size: 1.25em;
        margin-bottom: 35px;
    }
    p {
        margin: 0 auto;
    }
}