#challenge {
    .btn-blue {
        display: block;
        margin: 0 auto;
        width: 215px;
        height: 50px;
        background-color: $color-main;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 10px;
        font-size: 1.2em;
        text-align: center;
        line-height: 50px;
        margin-bottom: 15px;
    }
    .btn-white {
        @extend .btn-blue;
        background-color: #fff;
        border: 3px solid $color-main;
        color: $color-main;
        text-transform: lowercase;
        line-height: 45px;
    }
}