#challenge {
    h4 {
        font-size: 1.5em;
        text-align: center;
    }
    .btn-blue {
        display: block;
        margin: 0 auto 15px;
        width: 215px;
        height: 50px;
        background-color: $color-main;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 10px;
        font-size: 1.2em;
        text-align: center;
        line-height: 50px;
        &:hover {
            text-decoration: none;
            background-color: #2d8ac6;
        }
    }
    .btn-white {
        @extend .btn-blue;
        background-color: #fff;
        border: 2.5px solid $color-main;
        color: $color-main;
        text-transform: lowercase;
        line-height: 45px;
        &:hover {
            background-color: $color-main;
            border: none;
            color: #fff;
            text-decoration: none;
            line-height: 48px;
        }
    }
    .btn-last {
        margin-bottom: 40px;
    }
    .btn-grey {
        @extend .btn-blue;
        width: 167px;
        line-height: 45px;
        background-color: #fff;
        text-transform: lowercase;
        border: 2.5px solid $color-neutral;
        color: $color-neutral;
        margin: 30px 0;
        &:hover {
            background-color: $color-neutral;
            border: none;
            color: #fff;
            text-decoration: none;
            line-height: 48px;
        }
    }
    h6 {
        font-size: 1.25em;
        margin-bottom: 35px;
    }
    p {
        margin: 0 auto;
    }
}