#contact {
    padding-bottom: 10px;
    h3 {
        font-size: 1.5em;
        text-align: center;
        @media screen and (min-width: 769px) {
            font-size: 2.268em;
            margin-bottom: 0;
        }
    }
    p {
        font-size: 1em;
        line-height: 1.5625em;
        text-align: center;
        @media screen and (min-width: 769px) {
            font-size: 1.285em;
        }
    }
    h5 {
        font-size: 1.375em;
        text-align: center;
        font-weight: 500;
        margin: 0;
        @media screen and (min-width: 769px) {
            font-size: 2em;
        }
        &+p {
            color: #7e7f81;
            text-transform: uppercase;
            font-size: 0.8125em;
            font-weight: bold;
            margin: 0;
            padding-top: 5px;
            @media screen and (min-width: 769px) {
                font-size: 1em;
            }
        }
    }
    .p-small {
        font-size: 0.875em;
        margin-bottom: 30px;
        @media screen and (min-width: 769px) {
            font-size: 1em;
        }
    }
    a {
        color: $color-main;
        text-decoration: underline;
        text-align: center;
        margin: 0 auto;
        display: block;
        margin-bottom: 10px;
        &:hover {
            color: $color-neutral;
        }
        @media screen and (min-width: 769px) {
            display: inline;
            &.link-last {
                display: none;
            }
        }
    }
    svg {
        width: 100%;
        height: auto;
        margin: 0 0 -7px 0;
        x: 0px;
        y: 0px;
        @media screen and (max-width: 550px) {
            width: 2200px;
        }
    }
}

.svg-wrapper {
    margin: 0;
    padding: 0;
    overflow: hidden;
}