@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/subset-FuturaPT-Heavy.eot');
    src: local('Futura PT Heavy'), local('FuturaPT-Heavy'), url('../fonts/subset-FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-FuturaPT-Heavy.woff2') format('woff2'), url('../fonts/subset-FuturaPT-Heavy.woff') format('woff'), url('../fonts/subset-FuturaPT-Heavy.ttf') format('truetype'), url('../fonts/subset-FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/subset-FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'), url('../fonts/subset-FuturaPT-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-FuturaPT-Medium.woff2') format('woff2'), url('../fonts/subset-FuturaPT-Medium.woff') format('woff'), url('../fonts/subset-FuturaPT-Medium.ttf') format('truetype'), url('../fonts/subset-FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/subset-FuturaPT-DemiBold.eot');
    src: local('Futura PT DemiBold'), local('FuturaPT-DemiBold'), url('../fonts/subset-FuturaPT-DemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-FuturaPT-DemiBold.woff2') format('woff2'), url('../fonts/subset-FuturaPT-DemiBold.woff') format('woff'), url('../fonts/subset-FuturaPT-DemiBold.ttf') format('truetype'), url('../fonts/subset-FuturaPT-DemiBold.svg#FuturaPT-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?17558292');
    src: url('../fonts/fontello.eot?17558292#iefix') format('embedded-opentype'), url('../fonts/fontello.woff2?17558292') format('woff2'), url('../fonts/fontello.woff?17558292') format('woff'), url('../fonts/fontello.ttf?17558292') format('truetype'), url('../fonts/fontello.svg?17558292#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?16881357');
    src: url('../fonts/fontello.eot?16881357#iefix') format('embedded-opentype'), url('../fonts/fontello.woff2?16881357') format('woff2'), url('../fonts/fontello.woff?16881357') format('woff'), url('../fonts/fontello.ttf?16881357') format('truetype'), url('../fonts/fontello.svg?16881357#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16881357#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-menu:before {
    content: '\e800';
}

.icon-cancel:before {
    content: '\e801';
}

.icon-down:before {
    content: '\e802';
}