@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/subset-FuturaPT-Heavy.eot');
    src: local('Futura PT Heavy'), local('FuturaPT-Heavy'), url('../fonts/subset-FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-FuturaPT-Heavy.woff2') format('woff2'), url('../fonts/subset-FuturaPT-Heavy.woff') format('woff'), url('../fonts/subset-FuturaPT-Heavy.ttf') format('truetype'), url('../fonts/subset-FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/subset-FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'), url('../fonts/subset-FuturaPT-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-FuturaPT-Medium.woff2') format('woff2'), url('../fonts/subset-FuturaPT-Medium.woff') format('woff'), url('../fonts/subset-FuturaPT-Medium.ttf') format('truetype'), url('../fonts/subset-FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/subset-FuturaPT-DemiBold.eot');
    src: local('Futura PT DemiBold'), local('FuturaPT-DemiBold'), url('../fonts/subset-FuturaPT-DemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-FuturaPT-DemiBold.woff2') format('woff2'), url('../fonts/subset-FuturaPT-DemiBold.woff') format('woff'), url('../fonts/subset-FuturaPT-DemiBold.ttf') format('truetype'), url('../fonts/subset-FuturaPT-DemiBold.svg#FuturaPT-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}