footer {
    text-align: center;
    a {
        color: #fff;
        text-decoration: underline;
        &:hover {
            color: $color-neutral;
        }
    }
    .image-footer {
        margin: 0;
        padding: 0;
        @media screen and (max-width: 413px) {
            display: none;
            width: 100%;
        }
        &:first-child {
            @media screen and (max-width: 413px) {
                display: block;
            }
        }
        img {
            @media screen and (min-width: 823px) and (max-width: 990px) {
                width: 100%;
                height: auto;
            }
        }
    }
    .row:last-of-type {
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: #fff;
            }
        }
    }
}