footer {
    text-align: center;
    a {
        color: #fff;
        text-decoration: underline;
        &:hover {
            color: $color-neutral;
        }
    }
    .image-footer {
        width: 25%;
        height: 240px;
        &:first-child {
            background-image: url("../img/footer-1.jpg");
            z-index: 20;
        }
        &:nth-child(2) {
            background-image: url("../img/footer-2.jpg");
            z-index: 3;
        }
        &:nth-child(3) {
            background-image: url("../img/footer-3.jpg");
            z-index: 2;
        }
        &:last-child {
            background-image: url("../img/footer-4.jpg");
            z-index: 1;
        }
    }
    img {
        height: 226px;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    .row:last-of-type {
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: #fff;
            }
        }
    }
}