footer {
    text-align: center;
    a {
        color: #fff;
        text-decoration: underline;
        &:hover {
            color: $color-neutral;
        }
    }
    img {
        height: 226px;
    }
    .row:last-of-type {
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: #fff;
            }
        }
    }
}