header {
    background-image: url("../img/PAH_Somalia.jpg");
    background-size: cover;
    background-position: -60px -20px;
    height: 555px;
    h3 {
        color: #fff;
        font-size: 2.5em;
        margin-top: 100px;
    }
}

.logo {
    background-image: url("../img/logo-small.png");
    background-repeat: no-repeat;
    display: block;
    width: 107px;
    height: 38px;
    margin-top: 25px;
}

.main-menu {
    span {
        text-align: right;
        margin-top: 24px;
        color: #fff;
        display: block;
        font-size: 30px;
        cursor: pointer;
        @media screen and (min-width: 769px) {
            display: none;
        }
    }
    ul {
        list-style-type: none;
        text-align: right;
        margin-top: 55px;
        li {
            color: #fff;
            display: inline-block;
            @media screen and (max-width: 768px) {
                display: none;
            }
            a {
                color: #fff;
                font-weight: bold;
                padding-left: 30px;
                font-size: 1.15em;
            }
        }
    }
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}