.bgimage {
    background-image: url("../img/PAH_Somalia.jpg");
    background-position: center center;
    background-size: cover;
    height: 555px;
}

.logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    display: block;
    width: 180px;
    height: 65px;
    margin-top: 20px;
}

.main-menu {
    ul {
        list-style-type: none;
        text-align: right;
        margin-top: 55px;
        li {
            color: #fff;
            display: inline-block;
            a {
                color: #fff;
                font-weight: bold;
                padding-left: 30px;
            }
        }
    }
}