header {
    background-image: url("../img/PAH_Somalia.jpg");
    background-size: cover;
    background-position: -60px -20px;
    background-repeat: no-repeat;
    height: 555px;
    @media screen and (min-width: 768px) {}
    background-position: center center;
    h3 {
        color: #fff;
        font-size: 1.85em; //1em = 14px
        margin-top: 100px;
        @media screen and (min-width: 768px) {
            font-size: 2.857em;
            margin-top: 22%;
        }
    }
    .container {
        height: 100%;
        position: relative;
        z-index: 0;
    }
}

.logo {
    background-image: url("../img/logo-small.png");
    background-repeat: no-repeat;
    display: block;
    width: 107px;
    height: 38px;
    margin-top: 25px;
}

.fixed-menu {
    margin: 0;
    width: 100%;
    padding: 15px 200px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 100px;
}

.main-menu {
    height: 0%;
    width: 82%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 18%;
    background-color: $color-main;
    overflow-y: hidden;
    transition: 0.5s;
    max-width: 450px;
    float: right;
    @media screen and (min-width: 769px) {
        height: 100px;
        width: 100%;
        background: none;
        transition: none;
        position: static;
        overflow: hidden;
    }
    ul {
        list-style-type: none;
        position: relative;
        top: 12%;
        width: 100%;
        @media screen and (min-width: 769px) {
            margin-top: 25px;
            position: static;
            display: table;
            float: right;
            overflow: hidden;
        }
        li {
            color: #fff;
            font-size: 24px;
            padding: 10px 0;
            @media screen and (min-width: 769px) {
                text-align: center;
                font-size: 1.15em;
                padding: 10px;
                display: table-cell;
                vertical-align: middle;
                position: relative;
            }
            a {
                color: #fff;
                font-weight: bold;
                padding-left: 10px;
                z-index: 15;
                @media screen and (min-width: 769px) {
                    margin: 0;
                    padding: 0 0 5px 0;
                    display: block;
                    width: 95%;
                    &:hover {
                        border-bottom: 4px solid white;
                        margin-bottom: -4px;
                    }
                }
                &:hover {
                    text-decoration: none;
                    z-index: 15;
                }
            }
        }
    }
}

.openbtn {
    transition: 0.3s;
    text-align: right;
    margin-top: 24px;
    color: #fff;
    display: block;
    font-size: 30px;
    cursor: pointer;
    @media screen and (min-width: 769px) {
        display: none;
    }
    &:hover,
    &:focus {
        color: #f1f1f1;
    }
}

.closebtn {
    transition: 0.3s;
    text-align: right;
    margin-top: 24px;
    margin-right: 15px;
    color: #fff;
    display: block;
    font-size: 40px;
    cursor: pointer;
    @media screen and (min-width: 769px) {
        display: none;
    }
    &:hover,
    &:focus {
        color: #f1f1f1;
    }
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    .openbtn {
        font-size: 20px
    }
    .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.circle {
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    @media screen and (min-width: 769px) {
        display: none;
    }
    span {
        text-align: center;
        line-height: 40px;
        display: block;
        width: 100%;
        height: 100%;
        font-size: 26px;
    }
}