header {
    background-image: url("../img/PAH_Somalia.jpg");
    background-size: cover;
    background-position: -60px -20px;
    height: 555px;
    h3 {
        color: #fff;
        font-size: 2.5em;
        margin-top: 100px;
    }
}

.logo {
    background-image: url("../img/logo-small.png");
    background-repeat: no-repeat;
    display: block;
    width: 107px;
    height: 38px;
    margin-top: 25px;
}

.main-menu {
    ul {
        list-style-type: none;
        text-align: right;
        margin-top: 55px;
        li {
            color: #fff;
            display: inline-block;
            @media screen and (max-width: 768px) {
                display: none;
            }
            a {
                color: #fff;
                font-weight: bold;
                padding-left: 30px;
                font-size: 1.15em;
            }
        }
    }
}