header {
    background-image: url("../img/PAH_Somalia.jpg");
    background-size: cover;
    background-position: -60px -20px;
    background-repeat: no-repeat;
    height: 555px;
    h3 {
        color: #fff;
        font-size: 1.85em; //1em = 14px
        margin-top: 100px;
    }
    .container {
        height: 100%;
    }
}

.logo {
    background-image: url("../img/logo-small.png");
    background-repeat: no-repeat;
    display: block;
    width: 107px;
    height: 38px;
    margin-top: 25px;
}

.main-menu {
    height: 0%;
    width: 82%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 18%;
    background-color: $color-main;
    overflow-y: hidden;
    transition: 0.5s;
    ul {
        list-style-type: none;
        position: relative;
        top: 12%;
        width: 100%;
        @media screen and (min-width: 769px) {
            margin-top: 55px;
        }
        li {
            color: #fff;
            font-size: 24px;
            padding: 10px 0;
            @media screen and (min-width: 769px) {
                display: inline-block;
                text-align: right;
            }
            a {
                color: #fff;
                font-weight: bold;
                padding-left: 10px;
            }
        }
    }
}

.openbtn {
    transition: 0.3s;
    text-align: right;
    margin-top: 24px;
    color: #fff;
    display: block;
    font-size: 30px;
    cursor: pointer;
    @media screen and (min-width: 769px) {
        display: none;
    }
    &:hover,
    &:focus {
        color: #f1f1f1;
    }
}

.closebtn {
    transition: 0.3s;
    text-align: right;
    margin-top: 24px;
    margin-right: 15px;
    color: #fff;
    display: block;
    font-size: 40px;
    cursor: pointer;
    &:hover,
    &:focus {
        color: #f1f1f1;
    }
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    .openbtn {
        font-size: 20px
    }
    .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.circle {
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}