#how-to {
    h2 {
        font-size: 1.87em;
        margin: 30px auto;
        text-align: center;
        @media screen and (min-width: 769px) {
            margin-top: 60px;
            margin-bottom: 45px;
        }
    }
}

.number {
    font-size: 19px;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    margin: 0 auto 35px;
    &.number-first {
        margin-top: 0;
    }
}

.frame-rounded {
    background-color: #fff;
    border-radius: 15px;
    color: $color-neutral;
    padding-bottom: 20px;
    &:last-of-type {
        margin-bottom: 40px;
    }
    h6 {
        font-size: 1.15em;
        padding-top: 35px;
        margin: 0 25px;
    }
    p {
        font-size: 1.06em;
        margin: 25px;
    }
}