#how-to {
    position: relative;
    margin-top: 260px;
    img {
        position: absolute;
        top: -255px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    h4 {
        font-size: 1.87em;
        margin: 30px auto;
        text-align: center;
    }
}

.number {
    font-size: 19px;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    margin: 0 auto;
}