#join {
    padding-bottom: 30px;
    h4 {
        font-size: 1.87em;
        margin: 30px auto;
        text-align: center;
    }
    p {
        font-size: 1.14em;
        margin: 0 0 30px 0;
        text-align: center;
        &:nth-child(3) {
            color: $color-main;
            margin-top: 20px;
            font-weight: bold;
            font-size: 1.4em;
        }
    }
    img {
        display: block;
        margin: 0 auto;
        @media screen and (min-width: 768px) {
            display: inline-block;
            float: left;
        }
        &.waterdrop {
            margin: 35px auto;
            @media screen and (min-width: 768px) {
                height: 100%;
                vertical-align: middle;
            }
            +p {
                font-size: 1.125em;
                width: 200px;
                font-weight: bold;
                text-align: center;
                margin: 0 auto;
                @media screen and (min-width: 768px) {
                    margin: 30px;
                    width: 240px;
                    text-align: center;
                    display: inline-block;
                    float: left;
                    height: 100%;
                    vertical-align: middle;
                }
            }
        }
    }
    .percent {
        color: $color-main;
        font-weight: bold;
        font-size: 2.15em;
        margin-top: 20px;
        @media screen and (min-width: 768px) {}
    }
}

.line {
    background-color: #e6e6e6;
    height: 2px;
    width: 100%;
}

.div-line {
    @media screen and (min-width: 769px) {
        display: none;
    }
}