#challenge,
#join {
    padding-bottom: 30px;
    h4 {
        font-size: 1.87em;
        margin: 30px auto;
        text-align: center;
    }
    p {
        font-size: 1.14em;
        margin: 0 0 30px 0;
        text-align: center;
        &:nth-child(3) {
            color: $color-main;
            margin-top: 20px;
            font-weight: bold;
            font-size: 1.4em;
        }
    }
    img {
        display: block;
        margin: 0 auto;
        &.waterdrop {
            margin: 35px auto;
            +p {
                font-size: 1.125em;
                width: 200px;
                font-weight: bold;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
}

.line {
    background-color: #e6e6e6;
    height: 2px;
    width: 100%;
}