#challenge,
#join {
    h4 {
        font-size: 1.87em;
        margin: 30px auto;
        text-align: center;
    }
    p {
        font-size: 1.14em;
        margin: 0 0 30px 0;
        text-align: center;
    }
    img {
        display: block;
        margin: 0 auto;
    }
}