footer {
    text-align: center;
    a {
        color: #fff;
        text-decoration: underline;
    }
    img {
        height: 226px;
    }
    .row:last-of-type {
        a {
            text-decoration: none;
        }
    }
}